.card {
    width: 600px;
    border-radius: 10px;
}

h2 {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}